.body {
    background-image: url(./images/175910.jpg);
    background-color: purple;
    background-repeat: no-repeat;
    background-blend-mode: screen
}
.day5header{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: bolder;
}
.input-field {
    width: 20%;
}
.cityName {
    justify-content: center;
    width: 33%;
}
.currentWeather {
    text-align: center;
}